<div class="container">
  <div class="row">
    <% @comments.each do |comment| %>
      <div class="col.s4.m6">
        <div class="card">
          <span class="card-title">
            <%= comment.body %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>