<div id="rakuten-api" class="container">
  <p>
    <input type="text" v-model:value="keyword" styoe="width:18%">
  </p>
  <div class="itemInfo">
  </div>
</div>
<div id="unit-conversion" class="container">
  <p>
    <input type="text" v-model:value="km" style="width:80%;">km
  </p>
  <p>
    <input type="text" v-model:value="m" style="width:80%;">m
  </p>
  <p>
    <input type="text" v-model:value="mm" style="width:80%;">mm
  </p>
</div>

<%= javascript_pack_tag 'homes/index' %>
